*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{

    background-color: rebeccapurple
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}
.buttons{
    display: flex;
  

}
.line{
    height: 20px;
    width: 1px;
    background-color: white;
    margin: 5px 10px;
}
a{
    margin: 5px 0;
    color: white;
}
footer{
    background-color: gray;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
.footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-block{
    margin: 30px auto 0;
    width: 350px;
    border: 1px solid royalblue;
    
}
.input-name{
    margin:  15px auto 0;
    width: 300px;
    justify-content:center;
    
}
.title{
    background-color:rebeccapurple;
    padding: 5px;
    text-align: center;
    justify-content: center;
}
.login-content{
   padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.input-fef{
    margin:  15px auto 0;
    width: 300px;
    justify-content:center;
    
}
.input-block{
    margin: 15px auto 0;
    width: 100%;
    justify-content:center;
    
}
.input-grup{
    margin:  15px auto 0;
    width: 100%;
    justify-content:center;

}
.input-password{
    margin:  15px auto 0;
    width: 300px;
    justify-content:center;
}
.input-oil{
    margin:  15px auto 0;
    width: 300px;
    justify-content:center;
}
.input-block > p{
    width: 500px;
    
}
input{
    margin-left: 5px;
    width: 100%;
}
button{
    align-self: end;
    margin:  15px auto 0;
}
